* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color:#183e64;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kameron", serif;
    font-optical-sizing: auto;
    background-repeat: no-repeat;
}
.caixa{
    background-color: white;
    border-radius: 4%;
    text-align: center;
}
.logo{
    margin-top: 3.5%;
    width: 13%;
}
.subtitulo{
    text-align: left;
    color: #1f3c5b !important;
}
h2{
    color: #1f3c5b !important;
    font-size: 160%;
    font-weight: bold;
}
.redefinirSenha{
    color: #1f3c5b !important;
    font-size: 110%;
    font-weight: bold;
     border: solid 3px #1f3c5b;
}
.botaoV{
    color: #1f3c5b !important;
    font-size: 100%;
    font-weight: initial;
}
.redefinirSenha:hover {
    border: solid 2px;
    color: black;
    background-color: #f0f0f0;
}
