*{
    font-family: "Kameron", serif;
    font-optical-sizing: auto;
}

body{
    background-color: rgba(253, 251, 245, 1)!important;
}

.alinhamento{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-pequeno{
    background-color: rgba(29, 119, 118, 1);
    border-radius: 30px 30px 30px 30px;
    padding: 1%;
}
.responsividade{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.bnt-descricoes{
    display: flex;
}

